{# src/LP/PartnerBundle/Resources/view/Member/view-member.html.twig #}

{% extends "LPPartnerBundle::layout.html.twig" %}

{% block title %}
  LanguagePartner dashboardpage - {{ parent() }}
{% endblock %}

{% block lppartner_body %}

<link src="{{ asset('bundles/lppartner/js/timeline/timeline.css') }}">

<div class="panel panel-primary">
  <div class="clickable-row panel-heading" data-href='{{ path('lp_partner_member_list', {'page': page }) }}'>
    <tr>
      <td>Search partner | </td>
      <td>{{ member.firstName}}</td>
      <td>{{ member.name}}</td>
      <td> | {{ tabPartnersFound|length }} partners found </td>
      <td><a href="{{ path('lp_partner_member_list', {'page': page }) }}" type="button" class="btn btn-default btn-xs">Back</a></td>
    </tr>
      <a href="{{ path('lp_partner_edit_member', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-default btn-xs pull-right">Edit</a>
  </div>

  <div class="panel-body">

    <div class="container">

      <!-- ========================================= search form =========================================== -->

      <div class="row"><!-- row of columns -->
        <div class="col-md-11">

              <div class="col-md-8">

              <table class="table table-member">
                <tr>
                    <td><span class="badge">en-fr</span></td>
                    <td>{{ member.category}}</td>
                    <td><span class="label label-danger"> {{ membersListCategory|length -1 }} partners</span></td>
                </tr>
                <tr>
                    <td><span class="badge">Age range</span></td>
                    <td>{{ range }}</td>                  
                    <td><span class="label label-danger">{{ membersListRange|length -1 }} partners</span></td>
                </tr>
                <tr>
                    <td><span class="badge">Status</span></td>
                    <td>{{ member.status }}</td>
                    <td><span class="label label-danger"> {{ membersListStatus|length -1 }} partners</span></td>
                </tr>
                <tr>
                    <td><span class="badge">Availability</span></td>
                    <td>{{ member.dateStart|date('d/m/Y')}}  -  {{ member.dateEnd|date('d/m/Y')}}</td>
                    <td><span class="label label-danger"> {{ membersListAvailability|length -1 }}  partners</span></td>
                </tr>
                <tr>
                    <td><span class="badge">Interests</span></td>
                    <td> <span class="badge">{{ totalInterests }} </span></td>
                    <td><span class="label label-danger"> {{ membersListInterest|length }} partners</span></td>
                </tr>
              </table>

              </div><!-- end of col -->

              <div class="col-md-4">

              <form id='matchform' method="GET">
                  <table class="table table-search">
                    {% for choice in form.selection.vars.choices %}
                      <tr><!-- onChange="this.form.submit()" -->
                        <td><input type="checkbox" name="userSelection[]" value="{{ choice.value }}" id="{{choice.data}}"></td>
                        <td><label for="{{ choice.label }}">{{ choice.label }}</label></td>
                      </tr>
                    {% endfor %}

                      <tr>
                        <td>
                          <select name="userInterests">
                          {% for choice in form.interest.vars.choices %}
                            {% if choice.value == 3 %}
                              <option value="{{ choice.value }}" selected>{{ choice.value }}</option> 
                            {% else %}
                              <option value="{{ choice.value }}">{{ choice.value }}</option> 
                            {% endif %}
                          {% endfor %}
                          </select>
                        </td>
                        <td>
                          <b>Interests</b>
                        <td>
                      </tr>
                    
                  </table>
                      {# Bouton de validation #}
                      <div class="validation">
                          {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-sm '}}) }}
                      </div>
              </form>

              </div><!-- end of col -->

        </div><!-- end of col -->
      </div><!-- end of row -->

      <!-- ============================================== member ============================================== -->

      <div class="row"><!-- row of columns -->
        <div class="col-md-11">

        <table class="table table-hover table-condensed" style="border-collapse:collapse;">

        </table>

        </div><!-- end of col -->
      </div><!-- end of row -->

      <!-- ==============================================  partners =========================================== -->

      <div class="row"><!-- row of columns -->
        <div class="col-md-11">

        <table class="table table-hover table-condensed" style="border-collapse:collapse;">

          <!-- ========================================= member Row =========================================== -->

          <thead>
            <tr>
              <th data-field="id">#</th>
              <th data-field="fr-en">fr | en</th>
              <th data-field="name">Name</th>
              <th data-field="firstname">Firstname</th>
              <th data-field="telephone">Telephone</th>
              <th data-field="email">email</th>
              <th data-field="range">range</th>
              <th data-field="calls">Calls</th>
              <th data-field="partners">Partners</th>
              <th data-field="infos">Infos</th>
            </tr>
          </thead>

          <tr class="success">
              <td>{{ member.id }}</td>
              <td>{{ member.category }}</td>
              <td>{{ member.name }}</td>
              <td>{{ member.firstName }}</td>
              <td>{{ member.telephone }}</td>
              <td>{{ member.email }}</td>
              <td>{{ range }}</td>
              <td> ... </td>
              <td><a href="#" type="button" class="btn btn-primary btn-xs">Member</a></td>
              <td><a href="{{ path('lp_partner_view_member', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-default btn-xs">View</a><td>
          </tr>

          <tr><td>...</td></tr>

          {% for partner in tabPartnersFound %}

          <tr>
              <td>{{ partner.id }}</td>
              <td>{{ partner.category }}</td>
              <td>{{ partner.name }}</td>
              <td>{{ partner.firstName }}</td>
              <td>{{ partner.telephone }}</td>
              <td>{{ partner.email }}</td>
              <td> ... </td>
              <td> ... </td>
              <td><a href="#" type="button" class="btn btn-primary btn-xs">Partner</a></td>
              <td><a href="{{ path('lp_partner_view_member', {'id': partner.id, 'page': page }) }}" type="button" class="btn btn-default btn-xs">View</a><td>
          </tr>

          {% endfor %}
          </table>

        </div><!-- end of col -->
      </div><!-- end of row -->


      <!-- ====================================== member informations ======================================= -->

      <div class="row"><!-- row of columns -->
        <div class="col-md-3">


        </div><!-- end of col -->

      </div><!-- end row -->

    </div><!-- end of container -->
  </div><!-- end of panel-body -->
</div><!-- end of panel -->



{% block javascripts %}
  <script src="{{ asset('bundles/lppartner/js/jquery-1.11.2.min.js') }}"></script>
  <script src="{{ asset('bundles/lppartner/js/clickable-row.js') }}"></script>
{% endblock %}



{% endblock %}