{# src/LP/PartnerBundle/Resources/view/Member/view-member.html.twig #}

{% extends "LPPartnerBundle::layout.html.twig" %}

{% block title %}
  LanguagePartner dashboardpage - {{ parent() }}
{% endblock %}

{% block lppartner_body %}

<div class="panel panel-primary">
  <div class="clickable-row panel-heading" data-href='{{ path('lp_partner_member_list', {'page': page }) }}'>
      Search partner
      <a href="{{ path('lp_partner_member_list', {'page': page }) }}" type="button" class="btn btn-default btn-xs pull-right">Back</a>
  </div>

  <div class="panel-body">
    <div class="container">

      <!-- ========================================= search form =========================================== -->

{% set category      = app.session.get('category') %}
{% set agerange      = app.session.get('agerange') %}
{% set status        = app.session.get('status') %}
{% set availability  = app.session.get('availability') %}
{% set userinterests = app.session.get('userinterests') %}
{% set englishlevel  = app.session.get('englishlevel') %}
{% set frenchlevel   = app.session.get('frenchlevel') %}

      <div class="row"><!-- row of columns -->
        <div class="col-md-11">     
          <form id='matchform' method="POST" action="{{ path('lp_partner_search_partner', {'id': member.id }) }}">
              <table class="table table-member">
                <tr>
                    <td><span class="badge">en-fr</span></td>
                    <td>{{ member.category}}</td>
                    <td>
                      <span class="label label-danger" title="{{ membersListCategory|length }} partners found selecting en-fr only"> 
                      {{ membersListCategory|length }} partners
                      </span>
                    </td>
                    <td>
                      <input type="checkbox" name="form[category]" value="1" class="pull-right" {% if category == 1 %} checked {% endif %}>

                    </td>
                </tr>
                <tr>
                    <td><span class="badge">Age range</span></td>
                    <td>{{ range }}</td>                  
                    <td>
                      <span class="label label-danger" title="{{ membersListRange|length -1 }} partners found selecting Age Range only">
                      {{ membersListRange|length -1 }} partners
                      </span>
                    </td>
                    <td>
                      <input type="checkbox" name="form[agerange] " value="1" class="pull-right" {% if agerange == 1 %} checked {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td><span class="badge">Status</span></td>
                    <td>{{ member.status }}</td>
                    <td>
                      <span class="label label-danger" title="{{ membersListStatus|length -1 }} partners found selecting Status only"> 
                      {{ membersListStatus|length -1 }} partners
                      </span>
                    </td>
                    <td>
                      <input type="checkbox" name="form[status]" value="1" class="pull-right" {% if status == 1 %} checked {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td><span class="badge">Availability</span></td>
                    <td>{{ member.dateStart|date('d/m/Y')}}  -  {{ member.dateEnd|date('d/m/Y')}}</td>
                    <td>
                      <span class="label label-danger" title="{{ membersListAvailability|length -1 }} partners found selecting Availability only"> 
                      {{ membersListAvailability|length -1 }}  partners
                    </span>
                  </td>
                    <td>
                      <input type="checkbox" name="form[availability]" value="1" class="pull-right" {% if availability == 1 %} checked {% endif %}>
                    </td>
                </tr>

                <tr>
                    <td><span class="badge">English level</span></td>
                    <td> {{ member.englishLevel }} </td>
                    <td>
                      <span class="label label-danger" title="Select 0 to desactivate search by interests"> 
                      ... partners
                      </span>
                    </td> 
                        <td>
                          <select name="userEnglishLevel" class="pull-right">
                           {% for choice in form.englishLevel.vars.choices %}
                            {% if choice.value == englishlevel %} 
                              <option value="{{ choice.value }}" selected>{{ choice.label }}</option> 
                            {% else %}
                              <option value="{{ choice.value }}">{{ choice.label }}</option> 
                            {% endif %}
                          {% endfor %} 
                          </select>
                        </td>
                </tr>
                <tr>
                    <td><span class="badge">French level</span></td>
                    <td> {{ member.frenchLevel }} </td>
                    <td>
                      <span class="label label-danger" title="Select 0 to desactivate search by interests"> 
                      ... partners
                      </span>
                    </td> 
                        <td>
                          <select name="userFrenchLevel" class="pull-right">
                           {% for choice in form.frenchLevel.vars.choices %}
                            {% if choice.value == frenchlevel %} 
                              <option value="{{ choice.value }}" selected>{{ choice.label }}</option> 
                            {% else %}
                              <option value="{{ choice.value }}">{{ choice.label }}</option> 
                            {% endif %}
                          {% endfor %} 
                          </select>
                        </td>
                </tr>
                <tr>
                    <td><span class="badge">Interests</span></td>
                    <td> <span class="badge">{{ totalInterests }} </span></td>
                    <td>
                      <span class="label label-danger" title="Select 0 to desactivate search by interests"> 
                      {{ membersListInterest|length }} partners
                      </span>
                    </td> 
                        <td>
                          <select name="userInterests" class="pull-right">
                          {% for choice in form.interest.vars.choices %}
                            {% if choice.value == userinterests %} 
                              <option value="{{ choice.value }}" selected>{{ choice.value }}</option> 
                            {% else %}
                              <option value="{{ choice.value }}">{{ choice.value }}</option> 
                            {% endif %}
                          {% endfor %}
                          </select>
                        </td>
                </tr>
              </table>
              {# Bouton de validation #}
              <div class="validation">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-sm '}}) }}
              </div>
          </form>
        </div><!-- end of col -->
      </div><!-- end of row -->

      <!-- ==============================================  partners =========================================== -->

      <div class="row partners-found"><!-- row of columns -->
        <div class="col-md-11">

        <table class="table table-condensed" style="border-collapse:collapse;">  
          <tr>
            <td>
              <h2 class="pull-right"><span class="label label-primary">{{ tabPartnersFound|length }}</span> 
                {% if tabPartnersFound|length > 1 %} partners {% else %} partner {% endif %} found
              </h2>
            </td>
          </tr>
        </table>

        <table class="table table-hover table-condensed" style="border-collapse:collapse;">

          <!-- ========================================= member Row =========================================== -->

          <thead>
            <tr>
              <th data-field="id">#</th>
              <th data-field="fr-en">fr | en</th>
              <th data-field="name">Name</th>
              <th data-field="firstname">Firstname</th>
              <th data-field="telephone">Telephone</th>
              <th data-field="email">Email</th>
              <th data-field="range">Age range</th>
              <th data-field="partners">Partners</th>
              <th data-field="infos">Infos</th>
            </tr>
          </thead>

          <tr class="active clickable" data-toggle="collapse" data-target="#{{ member.id }}" class="accordion-toggle">
              <td>{{ member.id }}</td>
              <td>{{ member.category }}</td>
              <td>{{ member.name }}</td>
              <td>{{ member.firstName }}</td>
              <td>{{ member.telephone }}</td>
              <td>{{ member.email }}</td>
              <td>{{ range }}</td>
              <td><span class="badge">{{ member.myPartners|length }}</span></td>
              <td><a href="{{ path('lp_partner_view_member', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-default btn-xs">View</a><td>
          </tr>

          <!-- ========================================= member hiddenRow =========================================== -->

          <tr>
            <td colspan="10" class="hiddenRow">
              <div class="accordian-body collapse" id="{{ member.id }}"> 
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row"><!-- row of columns -->
                      <div class="col-md-6"><!-- column -->
                        <table class="table table-condensed table-member">
                          <tr class="active">
                              <td>Name </td>
                              <td>{{ member.name}}</td>
                          </tr>
                          <tr class="active">
                              <td>First Name </td>
                              <td>{{ member.firstName}}</td>
                          </tr>
                          <tr class="active">
                              <td>Age range </td>
                              <td><span class="badge">{{ range }}</span></td>
                          </tr>
                          <tr class="active">
                              <td>Date of birth </td>
                              <td>{{ member.dateBirth|date('d/m/Y')}}</td>
                          </tr>
                          <tr class="active">
                              <td>Telephone </td>
                              <td>{{ member.telephone}}</td>
                          </tr>
                          <tr class="active">
                              <td>Telephone bis</td>
                              <td>{{ member.telephoneBis}}</td>
                          </tr>
                          <tr class="active">
                              <td>Email</td>
                              <td>{{ member.email}}</td>
                          </tr>
                          <tr class="active">
                              <td>Membership</td>
                              <td>{{ member.membership}}</td>
                          </tr>
                          <tr class="active">
                              <td>Status</td>
                              <td>{{ member.status }}</td>
                          </tr>
                          <tr class="active">
                              <td>Objective</td>
                              <td>{{ member.objective }}</td>
                          </tr>
                          <tr class="active">
                              <td>Availability </td>
                              <td>{{ member.dateStart|date('d/m/Y')}}  -  {{ member.dateEnd|date('d/m/Y')}}</td>
                          </tr>
                          <tr class="active">
                              <td><span class="badge">{{ member.myPartners|length }}</span> 
                              {% if member.myPartners|length > 1 %} Partners {% else %} Partner {% endif %}
                              </td>
                              <td><a href="{{ path('lp_partner_search_partner', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-primary btn-xs">Search</a></td>
                          </tr>
                          <tr class="active">
                            <td><span class="badge">
                                {% set count = 0 %}
                                {% for call in phonecalls %}
                                  {% if member.id == call.member.id %} {% set count = count + 1 %} {% endif %}
                                {% endfor %}
                                  {{ count }}
                                </span>
                                {% if count > 1 %} Phone-calls {% else %} Phone-call {% endif %}
                            </td>
                              <td><a href="{{ path('lp_partner_view_member', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-primary btn-xs">View</a></td>
                          </tr>
                        </table>
                      </div><!-- end of col-->
                      <div class="col-md-4 col-md-offset-1">
                        <table class="table table-condensed">
                          <tr class="active">
                              <td><span class="badge">{{ totalInterests }} </span> Interests </td>
                          </tr>
                          {% for id, stringsById in tabInterestsMember %}
                          <tr>
                          {% if stringsById == 1 %}
                              <td class="active"> {{ id | striptags('<b>')|raw }} </td>
                          {% else %}
                              <td class="text-light"><i><s> {{ id | striptags('<i><s>')|raw}}</s></i></td>
                          {% endif %}
                          </tr>
                          {% endfor %}
                        </table>
                      </div><!-- end of col-->
                    </div><!-- end of row-->
                  </div><!-- end of panel-body  -->
                </div><!-- end of panel  -->
              </div> 
            </td>
          </tr><!-- end tr -->

          <!-- ========================================= end member hiddenRow =========================================== -->

          <tr><td class=empty-cell></td></tr>

          {% for partner in tabPartnersFound %}

          <tr class="clickable" data-toggle="collapse" data-target="#{{ partner.id }}" class="accordion-toggle">
              <td>{{ partner.id }}</td>
              <td>{{ partner.category }}</td>
              <td>{{ partner.name }}</td>
              <td>{{ partner.firstName }}</td>
              <td>{{ partner.telephone }}</td>
              <td>{{ partner.email }}</td>
              <td>{{ tabRangePartners[partner.id] }}</td>
              <td>
                {% if partner.id in tabIdAlreadyPartners %}
                  <span class="badge">Partner</span>
                {% else %}
                  <a href="{{ path('lp_partner_select_partner', {'idMember': member.id, 'idNewPartner': partner.id  }) }}" 
                type="button" class="btn btn-primary btn-xs">Select</a>
                {% endif %}
              </td>
              <td><a href="{{ path('lp_partner_view_member', {'id': partner.id, 'page': page }) }}" 
                type="button" class="btn btn-default btn-xs">View</a><td>
          </tr>


          <!-- ========================================= partner hiddenRow =========================================== -->

          <tr>
            <td colspan="10" class="hiddenRow">
              <div class="accordian-body collapse" id="{{ partner.id }}"> 
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row"><!-- row of columns -->
                      <div class="col-md-6"><!-- column -->

                        <table class="table table-condensed table-member">
                          <tr class="active">
                              <td>Name </td>
                              <td>{{ partner.name}}</td>
                          </tr>
                          <tr class="active">
                              <td>First Name </td>
                              <td>{{ partner.firstName}}</td>
                          </tr>
                          <tr class="active">
                              <td>Age range </td>
                              <td><span class="badge">{{ tabRangePartners[partner.id] }}</span></td>
                          </tr>
                          <tr class="active">
                              <td>Date of birth </td>
                              <td>{{ partner.dateBirth|date('d/m/Y')}}</td>
                          </tr>
                          <tr class="active">
                              <td>Telephone </td>
                              <td>{{ partner.telephone}}</td>
                          </tr>
                          <tr class="active">
                              <td>Telephone bis</td>
                              <td>{{ partner.telephoneBis}}</td>
                          </tr>
                          <tr class="active">
                              <td>Email</td>
                              <td>{{ partner.email}}</td>
                          </tr>
                          <tr class="active">
                              <td>Membership</td>
                              <td>{{ partner.membership}}</td>
                          </tr>
                          <tr class="active">
                              <td>Status</td>
                              <td>{{ partner.status }}</td>
                          </tr>
                          <tr class="active">
                              <td>Objective</td>
                              <td>{{ partner.objective }}</td>
                          </tr>
                          <tr class="active">
                              <td>Availability </td>
                              <td>{{ partner.dateStart|date('d/m/Y')}}  -  {{ partner.dateEnd|date('d/m/Y')}}</td>
                          </tr>
                          <tr class="active">
                              <td><span class="badge">{{ partner.myPartners|length }}</span> 
                              {% if partner.myPartners|length > 1 %} Partners {% else %} Partner {% endif %}
                              </td>
                              <td><a href="{{ path('lp_partner_search_partner', {'id': partner.id, 'page': page }) }}" type="button" class="btn btn-primary btn-xs">Search</a></td>
                          </tr>
                          <tr class="active">
                            <td><span class="badge">
                                {% set count = 0 %}
                                {% for call in phonecalls %}
                                  {% if partner.id == call.member.id %} {% set count = count + 1 %} {% endif %}
                                {% endfor %}
                                {{ count }}
                                </span>
                                  {% if count > 1 %} Phone-calls {% else %} Phone-call {% endif %}
                            </td>
                            <td><a href="{{ path('lp_partner_view_member', {'id': partner.id, 'page': page }) }}" type="button" 
                              class="btn btn-primary btn-xs">View</a></td>
                          </tr>
                          
                        </table>

                      </div><!-- end of col-->

                      <div class="col-md-4 col-md-offset-1">
                        <table class="table table-condensed">

                          <tr class="active">
                              <td><span class="badge">{{ tabTotalPartnerInterests[partner.id] }}  </span> Interests</td>
                          </tr>

                          {% for id, stringsById in tabPartnerInterests[partner.id] %}
                          <tr>
                          {% if stringsById == 1 %}
                              <td class="active"> {{ id | striptags('<b>')|raw }} </td>
                          {% else %}
                              <td class="text-light"><i><s> {{ id | striptags('<i><s>')|raw}} </s></i></td>
                          {% endif %}
                          </tr>
                          {% endfor %}

                        </table>
                      </div><!-- end of col-->
                    </div><!-- end of row-->
                  </div><!-- end of panel-body  -->
                </div><!-- end of panel  -->
              </div> 
            </td>
          </tr><!-- end tr -->

          <!-- ========================================= end partner hiddenRow =========================================== -->




          {% endfor %}
          </table>

        </div><!-- end of col -->
      </div><!-- end of row -->


      <div class="row"><!-- row of columns -->
        <div class="col-md-3">


        </div><!-- end of col -->

      </div><!-- end row -->

    </div><!-- end of container -->
  </div><!-- end of panel-body -->
</div><!-- end of panel -->

{% endblock %}