{# src/lp/PartnerBundle/Resources/views/Member/add.html.twig #}

{% extends "LPPartnerBundle::layout.html.twig" %}

{% block title %}
  LanguagePartner homepage - {{ parent() }}
{% endblock %}

{% block lppartner_body %}

<div class="panel panel-primary">
    <div class="panel-heading">
        Editing a member in database : {{ editMember.firstName }} {{ editMember.name }} 
        <a href="{{ path('lp_partner_view_member', {'id': id, 'page': page }) }}"><button type="button" class="btn btn-default pull-right btn-xs">Cancel</button></a>
    </div>

      <div class="panel-body">
        <table class="table">

<div class="form-horizontal">

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

        
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.name) }} 
        <div class="form-group">
            <label for="form.name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
               	    {# Génération de l'input. #}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.firstName) }} 
        <div class="form-group">
            <label for="form.firstName" class="col-sm-2 control-label">First-name</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.dateBirth) }} 
        <div class="form-group">
            <label for="form.dateBirth" class="col-sm-2 control-label">Date of birth</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.dateBirth, {'attr': {'class': 'date-input'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.email) }} 
        <div class="form-group">
            <label for="form.email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.telephone) }} 
        <div class="form-group">
            <label for="form.telephone" class="col-sm-2 control-label">Telephone</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.telephoneBis) }} 
        <div class="form-group">
            <label for="form.telephoneBis" class="col-sm-2 control-label">Telephone bis</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.telephoneBis, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.objective) }} 
        <div class="form-group">
            <label for="form.objective" class="col-sm-2 control-label">Objective</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.objective, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.dateStart) }} 
        <div class="form-group">
            <label for="form.dateStart" class="col-sm-2 control-label">Availability</label>
                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.dateStart, {'attr': {'class': 'dpd1'}}) }}  
                </div>
                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.dateEnd, {'attr': {'class': 'dpd2'}}) }}  
                </div>   
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.status) }} 
        <div class="form-group">
            <label for="form.status" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.membership) }} 
        <div class="form-group">
            <label for="form.membership" class="col-sm-2 control-label">Membership</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.membership, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.category) }} 
        <div class="form-group">
            <label for="form.category" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-6">
                    {# Génération de l'input. #}
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}  
                </div>
        </div>

{# 
        {% for choice in form.interests.vars.choices %}
        <div class="form-group">
            <div class="checkbox">
                <label for="{{ choice.data.name }}"><input id="choice.data.id" type="checkbox" name="choice.data.name">{{ choice.label }}</label>
            </div>
        </div>
        {% endfor %}
#}

        {# Bouton de validation #}
        <div class="validation">

            <a href="{{ path('lp_partner_view_member', {'id': id, 'page': page }) }}"><button type="button" class="btn btn-default">Cancel</button></a>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>

	{{ form_rest(form) }} 

    {{ form_end(form) }} 

</div>

</table>
</div>
</div>




</div>

    {% block javascripts %}
        <script src="{{ asset('bundles/lppartner/js/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ asset('bundles/lppartner/datepicker/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/lppartner/js/date.js') }}"></script>
    {% endblock %}
        
{% endblock %}