{# src/lp/PartnerBundle/Resources/views/Member/memberList.html.twig #}

{% extends "LPPartnerBundle::layout.html.twig" %}

{% block title %}
  LanguagePartner homepage - {{ parent() }}
{% endblock %}

{% block lppartner_body %}


  <div class="panel panel-primary">
    <div class="panel-heading clickable-row" data-href='{{ path('lp_partner_member_list', {'page': page }) }}'>Members list</div>

      <div class="panel-body">
        <table class="table table-hover table-condensed" style="border-collapse:collapse">

          <!-- ========================================= member Row =========================================== -->

          <thead>
            <tr>
              <th data-field="id">#</th>
              <th data-field="fr-en">fr | en</th>
              <th data-field="name">Name</th>
              <th data-field="firstname">Firstname</th>
              <th data-field="telephone">Telephone</th>
              <th data-field="email">email</th>
              <th data-field="range">range</th>
              <th data-field="calls">Calls</th>
              <th data-field="partners">Partners</th>
              <th data-field="infos">Infos</th>
            </tr>
          </thead>

          {% for member in membersList %}

          <tr data-toggle="collapse" data-target="#{{ member.id }}" class="clickable accordion-toggle">

              <td>{{ member.id }}</td>
              <td>{{ member.category }}</td>
              <td>{{ member.name }}</td>
              <td>{{ member.firstName }}</td>
              <td>{{ member.telephone }}</td>
              <td>{{ member.email }}</td>
              <td>{{ tabRange[member.id] }}</td>
              <td><span class="label label-default">
                  {% set count = 0 %}
                  {% for call in phonecalls %}
                    {% if member.id == call.member.id %}
                    {% set count = count + 1 %}
                    {% endif %}
                  {% endfor %}
                  {{ count }}
                  </span></td>
              <td><a href="{{ path('lp_partner_search_partner', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-primary btn-xs">Search</a></td>
              <td><a href="{{ path('lp_partner_view_member', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-default btn-xs">View</a><td>
              
          </tr>
          
          <!-- ========================================= hiddenRow =========================================== -->

          <tr>
            <td colspan="10" class="hiddenRow">
              <div class="accordian-body collapse" id="{{ member.id }}">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row"><!-- row of columns -->
                      <div class="col-md-6"><!-- column -->

                        <table class="table table-condensed table-member">
                          <tr class="success">
                              <td>Name </td>
                              <td>{{ member.name}}</td>
                          </tr>
                          <tr class="success">
                              <td>First Name </td>
                              <td>{{ member.firstName}}</td>
                          </tr>
                          <tr class="success">
                              <td>Age range </td>
                              <td><span class="badge">{{ tabRange[member.id] }}</span></td>
                          </tr>
                          <tr class="success">
                              <td>Date of birth </td>
                              <td>{{ member.dateBirth|date('d/m/Y')}}</td>
                          </tr>
                          <tr class="success">
                              <td>Telephone </td>
                              <td>{{ member.telephone}}</td>
                          </tr>
                          <tr class="success">
                              <td>Telephone bis</td>
                              <td>{{ member.telephoneBis}}</td>
                          </tr>
                          <tr class="success">
                              <td>Email</td>
                              <td>{{ member.email}}</td>
                          </tr>
                          <tr class="success">
                              <td>Membership</td>
                              <td>{{ member.membership}}</td>
                          </tr>
                          <tr class="success">
                              <td>Status</td>
                              <td>{{ member.status }}</td>
                          </tr>
                          <tr class="success">
                              <td>Objective</td>
                              <td>{{ member.objective }}</td>
                          </tr>
                          <tr class="success">
                              <td>Availability </td>
                              <td>{{ member.dateStart|date('d/m/Y')}}  -  {{ member.dateEnd|date('d/m/Y')}}</td>
                          </tr>
                          <tr class="success">
                              <td>Match partner </td>
                              <td><a href="{{ path('lp_partner_search_partner', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-primary btn-sm">Search</a></td>
                          </tr>
                          <tr class="success">
                              <td>Phone-call</td>
                              <td><a href="{{ path('lp_partner_view_member', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-primary btn-sm">View</a></td>
                          </tr>
                          
                        </table>

                      </div><!-- end of col-->

                      <div class="col-md-4 col-md-offset-1">
                        <table class="table table-condensed">

                          <tr class="warning">
                              <td><span class="badge"> {{ tabTotalInterests[member.id] }} </span> Interests</td>
                          </tr>
 
                          {% for id, stringsById in tabMembersInterests[member.id] %}
                          <tr>
                          {% if stringsById == 1 %}
                              <td class="success"> {{ id | striptags('<b>')|raw }} </td>
                          {% else %}
                              <td class="warning text-light"><i><s> {{ id | striptags('<i><s>')|raw}}</s></i></td>
                          {% endif %}
                          </tr>
                          {% endfor %}

                        </table>
                      </div><!-- end of col-->
                    </div><!-- end of row-->
                  </div><!-- end of panel-body  -->
                </div><!-- end of panel  -->
              </div> 
            </td>
          </tr><!-- end tr -->

          <!-- ========================================= end hiddenRow =========================================== -->

          {% endfor %}
        </table>
      </div><!-- end panel-body -->
  </div><!-- end panel -->

  <ul class="pagination">

    {% if page > 1 %}
      <li>
        <a href="{{ path('lp_partner_member_list', {'page': page - 1}) }}"> Prev. </a>
      </li>
    {% endif %}

    {% for p in range(max(page-3, 1), min(page+3, nbPages)) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('lp_partner_member_list', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}

    {% if page <  nbPages %}
      <li>
        <a href="{{ path('lp_partner_member_list', {'page': page + 1}) }}"> Next. </a>
      </li>
    {% endif %}

  </ul>


        
{% endblock %}