{# src/LP/PartnerBundle/Resources/view/Member/view-member.html.twig #}

{% extends "LPPartnerBundle::layout.html.twig" %}

{% block title %}
  Language-Partner - {{ parent() }}
{% endblock %}

{% block lppartner_body %}


<div class="panel panel-primary panel-member">
    <div class="clickable-row panel-heading">
      <tr>
        <a href='{{ path('lp_partner_member_list', {'page': page }) }}'>
          <td>{{ member.firstName}}</td>
          <td>{{ member.name}}</td>
        </a>
          <!-- Button trigger modal -->
        {% if is_granted('ROLE_ADMIN') %}
        <td>
          <button type="button" class="btn btn-default btn-xs btn-delete" data-toggle="modal" data-target="#modalDelete">Delete</button>
        </td>
        {% endif %}
        <td>
          <a href="{{ path('lp_partner_edit_member', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-default btn-xs btn-edit">Edit</a>
        </td>
      </tr>
    </div>

    <div class="panel-body members">
      <table class="table table-hover table-condensed" style="border-collapse:collapse">

        <!-- ========================================= member Row =========================================== -->

        <thead>
          <tr>
            <th data-field="id" class="phonecall-tip">
              <a href="#" class="btn btn-default btn-xs" data-toggle="popover" data-html="true" data-content="
                <div>
                  <ul>
                    <li><span class='label label-danger'>0</span> 0 phone call</li>
                    <li><span class='label label-warning'>0</span> last phone call < 1 month ago</li>
                    <li><span class='label label-info'>0</span> last phone call < 2 weeks ago</li>
                    <li><span class='label label-primary'>0</span> last phone call > 2 weeks ago</li>  
                  </ul>
                </div>">#</a>
            </th>
            <th data-field="fr-en">fr | en</th>
            <th data-field="name">Name</th>
            <th data-field="firstname">Firstname</th>
            <th data-field="telephone">Telephone</th>
            <th data-field="email">email</th>
            <th data-field="range">range</th>
            <th data-field="partners">Partners</th>
            <th data-field="search">Search</th>
            <th data-field="infos">Infos</th>
          </tr>
        </thead>

        <tr data-toggle="collapse" data-target="#{{ member.id }}" class="clickable accordion-toggle">
            <td>
              {# eval phonecall #}
              <span class="label 
                {% include "LPPartnerBundle:Include:phonecall-eval.html.twig" 
                with { 'evalCall': evaluationCall } only %} ">
                {{ member.id }}
              </span>
            </td>
            <td>{{ member.category }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.firstName }}</td>
            <td>{{ member.telephone }}</td>
            <td>{{ member.email }}</td>
            <td>{{ rangeMember }}</td>
            <td><span class="badge">{{ member.myPartners|length }}</span></td>
            <td>
              <a href="{{ path('lp_partner_search_partner', {'id': member.id, 'page': page }) }}" 
              type="button" class="btn btn-primary btn-xs">Search</a>
            </td>
            <td>
              <a href="{{ path('lp_partner_view_member', {'id': member.id, 'page': page }) }}" 
              type="button" class="btn btn-default btn-xs">View</a>
            <td>  
          </tr>
          
        <!-- ========================================= hiddenRow =========================================== -->

        <tr>
          <td colspan="10" class="hiddenRow">
            <div class="accordian-body collapse" id="{{ member.id }}">
              <div class="panel panel-default">
                <div class="panel-body">

                  <div class="row"><!-- row of columns -->

                    <div class="col-md-6"><!-- column -->
                      <table class="table table-condensed table-member">
                        <tr class="active">
                          <td>Name </td>
                          <td>{{ member.name}}</td>
                        </tr>
                        <tr class="active">
                          <td>First Name </td>
                          <td>{{ member.firstName}}</td>
                        </tr>
                        <tr class="active">
                          <td>Age range </td>
                          <td><span class="badge">{{ rangeMember }}</span></td>
                        </tr>
                        <tr class="active">
                          <td>Date of birth </td>
                          <td>{{ member.dateBirth|date('d/m/Y')}}</td>
                        </tr>
                        <tr class="active">
                          <td>Telephone </td>
                          <td>{{ member.telephone}}</td>
                        </tr>
                        <tr class="active">
                          <td>Telephone bis</td>
                          <td>{{ member.telephoneBis}}</td>
                        </tr>
                        <tr class="active">
                          <td>Email</td>
                          <td>{{ member.email}}</td>
                        </tr>
                        <tr class="active">
                            <td>Profession</td>
                            <td>{{ member.profession}}</td>
                        </tr>
                        <tr class="active">
                          <td>Membership</td>
                          <td>{{ member.membership}}</td>
                        </tr>
                        <tr class="active">
                          <td>Status</td>
                          <td>{{ member.status }}</td>
                        </tr>
                        <tr class="active">
                          <td>English level</td>
                          <td>{{ member.englishLevel }}</td>
                        </tr>
                        <tr class="active">
                          <td>French level</td>
                          <td>{{ member.frenchLevel }}</td>
                        </tr>
                        <tr class="active">
                          <td>Objective</td>
                          <td>{{ member.objective }}</td>
                        </tr>
                        <tr class="active">
                          <td>Availability </td>
                          <td>{{ member.dateStart|date('d/m/Y')}}  -  {{ member.dateEnd|date('d/m/Y')}}</td>
                        </tr>
                        <tr class="active">
                          <td><span class="badge">{{ member.myPartners|length }}</span> 
                            {% if member.myPartners|length > 1 %} partners {% else %} partner {% endif %}
                          </td>
                            <td>
                              <a href="{{ path('lp_partner_search_partner', {'id': member.id, 'page': page }) }}" type="button" class="btn btn-primary btn-xs">Search</a>
                            </td>
                          </tr>
                        </table>
                      </div><!-- end of col-->

                      <div class="col-md-4 col-md-offset-1">
                        <table class="table table-condensed">
                          <tr class="active">
                              <td><span class="badge"> {{ totalMemberInterests }} </span> Interests</td>
                          </tr>
                          {% for id, stringsById in tabInterestsYesNo %}
                          <tr>
                          {% if stringsById == 1 %}
                              <td class="active"> {{ id | striptags('<b>')|raw }} </td>
                          {% else %}
                              <td class="text-light"><i><s> {{ id | striptags('<i><s>')|raw}}</s></i></td>
                          {% endif %}
                          </tr>
                          {% endfor %}
                        </table>
                      </div><!-- end of col-->

                    </div><!-- end of row-->

      <!-- ========================================= phone calls form =========================================== -->

                    <div class="row"><!-- row of columns -->
                      <div class="col-md-12">

                        <div class="panel panel-default">
                          <div class="panel-heading clickable-row accordion-toggle" data-toggle="collapse" data-target="#phonecall" >
                            <h4 class="panel-title">
                              {# eval phonecall #}
                              <span class="label 
                                {% include "LPPartnerBundle:Include:phonecall-eval.html.twig" 
                                with { 'evalCall': evaluationCall } only %} ">
                              {{ tabPhonecalls|length }}</span> 
                              {% if tabPhonecalls|length > 1 %} Phone-calls {% else %} Phone-call {% endif %}
                              | {{ member.firstName}} {{ member.name}}
                            </h4>
                          </div>

                        <div  class="hiddenRow">
                          <div class="panel-body accordian-body collapse" id="phonecall">
                            {# form phonecall #}
                            <div class="form-horizontal">
                              {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                              {# Les erreurs générales du formulaire. #}
                              {{ form_errors(form) }}
                            
                              {# Affichage des erreurs pour ce champ précis. #}
                              {{ form_errors(form.dateCall) }} 
                              <div class="form-group">
                                <label for="form.dateCall" class="col-sm-2 control-label">Date call</label>
                                  <div class="col-sm-10">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.dateCall, {'attr': {'class': 'date-input'}}) }}  
                                  </div>
                              </div>

                              {# Affichage des erreurs pour ce champ précis. #}
                              {{ form_errors(form.noteCall) }} 
                              <div class="form-group">
                                <label for="form.noteCall" class="col-sm-2 control-label">Note call</label>
                                  <div class="col-sm-10">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.noteCall, {'attr': {'class': 'form-control'}}) }}  
                                  </div>
                                  
                                  {# Bouton de validation #}
                                  <div class="validation">
                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-sm'}}) }}
                                  </div>
                              </div>

                            {{ form_rest(form) }} 
                            {{ form_end(form) }} 
                            </div><!-- end of form -->
                            {# end form phonecall #}

      <!-- ========================================= phone calls list =========================================== -->

                            <div class="row"><!-- row of columns -->
                              <div class="col-md-12">
                                <table class="table">

                                  {% set count = 1 %}
                                  {% for call in tabPhonecalls %}
                                  <tr>
                                    <td>Call {{ count }} </td>
                                    <td>{{ call.dateCall|date('d/m/Y')}} </td>
                                    <td>Author call : {{ call.user.username }} </td>
                                    <td> Comment : </td>
                                    <td> {{ call.noteCall }}</td>
                                  </tr>
                                  {% set count = count + 1 %}
                                  {% endfor %}

                                </table>
                              </div><!-- end col -->
                            </div><!-- end row -->

      <!-- ============================================= end phone calls ====================================== -->

                          </div><!-- end of panel-body  -->
                        </div><!-- end of hidden row calls  -->
                      </div><!-- end of panel  -->

        </td>
      </tr><!-- end tr -->

      <!-- ========================================= end hiddenRow =========================================== -->

    </table>


{% if member.myPartners|length > 0 %}

<h4>{{ member.firstName }} {{ member.name }}'s partners</h4>


<!-- ========================================= partners =========================================== -->


        <table class="table table-hover table-condensed" style="border-collapse:collapse">

          <thead>
            <tr>
              <th data-field="id">#</th>
              <th data-field="fr-en">fr | en</th>
              <th data-field="name">Name</th>
              <th data-field="firstname">Firstname</th>
              <th data-field="telephone">Telephone</th>
              <th data-field="email">email</th>
              <th data-field="range">range</th>
              <th data-field="partners">Partners</th>
              <th data-field="search">Selection</th>
              <th data-field="infos">Infos</th>
            </tr>
          </thead>

          {% for partner in tabPartners %}

          <tr data-toggle="collapse" data-target="#{{ partner.id }}" class="clickable accordion-toggle">

              <td>
                {# eval phonecall #}
                <span class="label 
                {% include "LPPartnerBundle:Include:phonecall-eval.html.twig" 
                with { 'evalCall': tabPhoneCallEvalPartners[partner.id] } only %} ">
                {{ partner.id }}
                </span>
              </td>
              <td>{{ partner.category }}</td>
              <td>{{ partner.name }}</td>
              <td>{{ partner.firstName }}</td>
              <td>{{ partner.telephone }}</td>
              <td>{{ partner.email }}</td>
              <td>{{ tabPartnersRange[partner.id] }}</td>
              <td><span class="badge">{{ partner.myPartners|length }}</span></td>
              <td><a href="{{ path('lp_partner_deselect_partner', {'idMember': member.id, 'idPartner': partner.id }) }}" type="button" class="btn btn-warning btn-xs">Remove</a></td>
              <td><a href="{{ path('lp_partner_view_member', {'id': partner.id, 'page': page }) }}" type="button" class="btn btn-default btn-xs">View</a><td>
              
          </tr>
          
          <!-- ========================================= hiddenRow =========================================== -->

          <tr>
            <td colspan="10" class="hiddenRow">
              <div class="accordian-body collapse" id="{{ partner.id }}">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row"><!-- row of columns -->
                      <div class="col-md-6"><!-- column -->

                        <table class="table table-condensed table-member">
                          <tr class="active">
                              <td>Name </td>
                              <td>{{ partner.name}}</td>
                          </tr>
                          <tr class="active">
                              <td>First Name </td>
                              <td>{{ partner.firstName}}</td>
                          </tr>
                          <tr class="active">
                              <td>Age range </td>
                              <td><span class="badge">{{ tabPartnersRange[partner.id] }} </span></td>
                          </tr>
                          <tr class="active">
                              <td>Date of birth </td>
                              <td>{{ partner.dateBirth|date('d/m/Y')}}</td>
                          </tr>
                          <tr class="active">
                              <td>Telephone </td>
                              <td>{{ partner.telephone}}</td>
                          </tr>
                          <tr class="active">
                              <td>Telephone bis</td>
                              <td>{{ partner.telephoneBis}}</td>
                          </tr>
                          <tr class="active">
                              <td>Email</td>
                              <td>{{ partner.email}}</td>
                          </tr>
                          <tr class="active">
                              <td>Profession</td>
                              <td>{{ partner.profession}}</td>
                          </tr>
                          <tr class="active">
                              <td>Membership</td>
                              <td>{{ partner.membership}}</td>
                          </tr>
                          <tr class="active">
                              <td>Status</td>
                              <td>{{ partner.status }}</td>
                          </tr>
                          <tr class="active">
                              <td>English level</td>
                              <td>{{ partner.englishLevel }}</td>
                          </tr>
                          <tr class="active">
                              <td>French level</td>
                              <td>{{ partner.frenchLevel }}</td>
                          </tr>
                          <tr class="active">
                              <td>Objective</td>
                              <td>{{ partner.objective }}</td>
                          </tr>
                          <tr class="active">
                              <td>Availability </td>
                              <td>{{ partner.dateStart|date('d/m/Y')}}  -  {{ partner.dateEnd|date('d/m/Y')}}</td>
                          </tr>
                          <tr class="active">
                              <td><span class="badge">{{ partner.myPartners|length }}</span> 
                              {% if partner.myPartners|length > 1 %} Partners {% else %} Partner {% endif %}
                              </td>
                              <td><a href="{{ path('lp_partner_search_partner', {'id': partner.id, 'page': page }) }}" type="button" class="btn btn-primary btn-xs">Search</a></td>
                          </tr>
                          <tr class="active">
                            <td>

                              {# eval phonecall #}
                              <span class="label 
                              {% include "LPPartnerBundle:Include:phonecall-eval.html.twig" 
                              with { 'evalCall': tabPhoneCallEvalPartners[partner.id] } only %} ">

                              {% set count = 0 %}
                              {% for call in tabPhonecalls %} 
                                {% if partner.id == call.member.id %} {% set count = count + 1 %} {% endif %}
                              {% endfor %}
                              {{ count }}
                              </span>
                                {% if count > 1 %} Phone-calls {% else %} Phone-call {% endif %}
                              </td>
                              <td><a href="{{ path('lp_partner_view_member', {'id': partner.id, 'page': page }) }}" type="button" class="btn btn-default btn-xs">View</a></td>
                          </tr>
                          
                        </table>

                      </div><!-- end of col-->

                      <div class="col-md-4 col-md-offset-1">
                        <table class="table table-condensed">

                          <tr class="active">
                              <td><span class="badge"> {{ tabTotalPartnersInterest[partner.id] }}</span> Interests</td>
                          </tr>
 
                          {% for id, stringsById in tabPartnersInterestsYesNo[partner.id] %}
                          <tr>
                          {% if stringsById == 1 %}
                              <td class="active"> {{ id | striptags('<b>')|raw }} </td>
                          {% else %}
                              <td class="text-light"><i><s> {{ id | striptags('<i><s>')|raw}}</s></i></td>
                          {% endif %}
                          </tr>
                          {% endfor %}

                        </table>
                      </div><!-- end of col-->
                    </div><!-- end of row-->
                  </div><!-- end of panel-body  -->
                </div><!-- end of panel  -->
              </div> 
            </td>
          </tr><!-- end tr -->

          <!-- ========================================= end hiddenRow =========================================== -->

          {% endfor %}
        </table>

{% else %} <h4>{{ member.firstName }} {{ member.name }} <span class="badge">{{ member.myPartners|length }}</span> partner.</h4> {% endif %}

            </div><!-- end of panel-body -->
            </div>
          </div><!-- end of panel -->

        </div><!-- end of col -->
      </div><!-- end of row -->


    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Deleting a partner !</h3>
          </div>
          <div class="modal-body">
           <h4> Do you want to delete {{ member.firstName }} {{ member.name }} ? </h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="{{ path('lp_partner_delete_member', {'id': member.id }) }}" type="button" class="btn btn-primary">Confirm</a>
          </div>
        </div>
      </div>
    </div>


  </div><!-- end of panel-body -->
</div><!-- end of panel -->

{% endblock %}